url --mirrorlist=https://mirrors.fedoraproject.org/mirrorlist?repo=fedora-44&arch=x86_64
repo --name=update --mirrorlist=https://mirrors.fedoraproject.org/mirrorlist?repo=updates-released-f44&arch=x86_64

keyboard --vckeymap=pl --xlayouts='pl'
lang pl_PL.UTF-8

network --bootproto=dhcp --device=link --activate
network --hostname=serwer-pati

%packages
@^server-product-environment
@container-management
@guest-agents
@server-hardware-support
nodejs
curl
wget
tar
%end

firstboot --disable

zerombr

# reinstalacja w kółko
clearpart --all --initlabel

autopart --type=plain

timezone Europe/Warsaw --utc

rootpw pati
user --groups=wheel --name=pati --password=pati
reboot


%post --log=/root/kickstart-post.log

# katalog /usr/local/bin/
mkdir -p /usr/local/bin/nestjs-app
cd /usr/local/bin/nestjs-app

wget --no-check-certificate http://172.21.96.1:8080/job/First-pipeline/lastSuccessfulBuild/artifact/nestjs-app-v*.tar.gz


tar -xzf nestjs-app-v*.tar.gz
rm -f nestjs-app-v*.tar.gz

cat << 'EOF' > /etc/systemd/system/nestjs.service
[Unit]
Description=Aplikacja projektowa NestJS z Jenkinsa
After=network.target

[Service]
Type=simple
WorkingDirectory=/usr/local/bin/nestjs-app
ExecStart=/usr/bin/node dist/main.js
Restart=always
Environment=PORT=3000

[Install]
WantedBy=multi-user.target
EOF

# aktywacja
systemctl enable nestjs.service

%end
