url --mirrorlist=http://mirrors.fedoraproject.org/mirrorlist?repo=fedora-44&arch=x86_64
repo --name=update --mirrorlist=http://mirrors.fedoraproject.org/mirrorlist?repo=updates-released-f44&arch=x86_64

keyboard --vckeymap=pl --xlayouts='pl'
lang pl_PL.UTF-8

network --bootproto=dhcp --device=link --activate
network --hostname=serwer-pati

%packages
@^server-product-environment
@container-management
@domain-client
@guest-agents
@server-hardware-support
%end

firstboot --disable

autopart

# reinstalacja w kółko
clearpart --all --initlabel

timezone Europe/Warsaw --utc

rootpw --iscrypted --allow-ssh $y$j9T$NCaUj/mpdPKz6XznP35PrNjt$aeLuyi5K1xxX7Z6q85/5q/.UV8K4FP/nxvAZ/cfM6zA
user --groups=wheel --name=pati --password=$y$j9T$hE.sQyJ8S08mDz.Md2Fz6EG.$1sJ/PsHGjdfCrBIDJ3DpdCu3MvACKGbaID/tz4k1ko1 

reboot
