url --mirrorlist=https://mirrors.fedoraproject.org/mirrorlist?repo=fedora-44&arch=x86_64
repo --name=update --mirrorlist=https://mirrors.fedoraproject.org/mirrorlist?repo=updates-released-f44&arch=x86_64

keyboard --vckeymap=pl --xlayouts='pl'
lang pl_PL.UTF-8

network --bootproto=dhcp --device=link --activate
network --hostname=serwer-pati

%packages
@^server-product-environment
@container-management
@domain-client
@guest-agents
@server-hardware-support
%end

firstboot --disable

zerombr

# reinstalacja w kółko
clearpart --all --initlabel

autopart --type=plain

timezone Europe/Warsaw --utc

rootpw --iscrypted $6$rounds=40960$supertajnyosolonyciag$v.3XmUqVzK3E8Wms1Qp7W6LRE0Fk7eExZ2R2a3F4g5hI6jK7lM8nO9pQrStUvWxYz0123456789abcdefgh
user --groups=wheel --name=pati --password=$6$rounds=40960$supertajnyosolonyciag$v.3XmUqVzK3E8Wms1Qp7W6LRE0Fk7eExZ2R2a3F4g5hI6jK7lM8nO9pQrStUvWxYz0123456789abcdefgh
reboot
