# Installation source
url --mirrorlist=http://mirrors.fedoraproject.org/mirrorlist?repo=fedora-44&arch=x86_64
repo --name=updates --mirrorlist=http://mirrors.fedoraproject.org/mirrorlist?repo=updates-released-f44&arch=x86_64

# Keyboard layouts
keyboard --vckeymap=pl --xlayouts='pl'
# System language
lang pl_PL.UTF-8
# System timezone
timezone Europe/Warsaw --utc

# Hostnaming
network --hostname=fedora-vm

# Packages
%packages
@^server-product-environment
%end

# Run the Setup Agent on first boot
firstboot --disable

# Partition clearing information
zerombr
clearpart --all --initlabel
autopart --type=lvm

# Root password
rootpw --iscrypted --allow-ssh XXXXXXXXXX
user --groups=wheel --name=fedorian --password=XXXXXXXXXX --iscrypted

# Reboot after installation
reboot