#version=F44
url --mirrorlist=https://mirrors.fedoraproject.org/mirrorlist?repo=fedora-44&arch=aarch64
repo --name=updates --mirrorlist=https://mirrors.fedoraproject.org/mirrorlist?repo=updates-released-f44&arch=aarch64

text
lang en_US.UTF-8
keyboard us
timezone Europe/Warsaw --utc
network --bootproto=dhcp --device=link --activate --hostname=lab09-fedora

rootpw --iscrypted $6$A3eR2jqZl6gOCuka$gelVgewdcLNZJ6Mdhk4cgE124dfvBpMO2WOmWPY1/cm.AwGHEiDwF6z/dqs.xEdto./4GAbh5x57K600ldBZh0

firewall --enabled --service=ssh
selinux --enforcing
services --enabled="sshd,chronyd"

zerombr
clearpart --all --initlabel
autopart

reboot

%packages
@^server-product-environment
openssh-server
sudo
curl
wget
git
dnf-plugins-core
podman
podman-docker
%end

%post --log=/root/ks-post.log --erroronfail
echo "=== ks %post start ==="

echo "Creating run-app.sh script..."
cat >/usr/local/bin/run-app.sh <<'SCRIPT'
#!/usr/bin/env bash
set -euo pipefail
export PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin
PODMAN=/usr/bin/podman

$PODMAN rm -f nest-app || true
IMAGE="docker.io/mateuszdoktor1/nest-app:3"
echo "Pulling image ${IMAGE}..."
pulled=0
for i in 1 2 3 4 5; do
	if $PODMAN pull "${IMAGE}"; then
		pulled=1
		break
	fi
	echo "Pull failed, retrying in 10s... ($i/5)"
	sleep 10
done
if [ "$pulled" -ne 1 ]; then
	echo "Image pull failed after retries."
	exit 1
fi
echo "Running container nest-app..."
$PODMAN run -d --name nest-app -p 3000:3000 "${IMAGE}"
echo "Container started successfully."
SCRIPT
chmod +x /usr/local/bin/run-app.sh

echo "Creating systemd service for nest-app..."
cat >/etc/systemd/system/nest-app.service <<'UNIT'
[Unit]
Description=Run Nest app container with Podman
After=network-online.target NetworkManager-wait-online.service
Wants=network-online.target NetworkManager-wait-online.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/bin/run-app.sh
ExecStop=/usr/bin/podman stop -t 10 nest-app
ExecStopPost=/usr/bin/podman rm -f nest-app
TimeoutStartSec=300

[Install]
WantedBy=multi-user.target
UNIT

echo "Enabling nest-app service..."
systemctl enable nest-app.service

echo "=== ks %post end ==="
%end
