# Wymusza instalację w trybie tekstowym bez pytań i akceptuje licencję
text
eula --agreed

# Zdefiniowanie zewnętrznych źródeł instalacyjnych dla Fedory 44
url --mirrorlist=http://mirrors.fedoraproject.org/mirrorlist?repo=fedora-44&arch=x86_64
repo --name=update --mirrorlist=http://mirrors.fedoraproject.org/mirrorlist?repo=updates-released-f44&arch=x86_64

# Instalacja pozwala na działanie "w kółko" – zawsze formatuje i partycjonuje cały dysk na nowo
clearpart --all --initlabel
autopart --type=lvm

# Konfiguracja sieci z hostname innym niż domyślny localhost
network --bootproto=dhcp --device=link --activate
network --hostname=agh-serwer-testowy

# Ustawienie haseł dla roota i stworzenie użytkownika o nazwie innej niż "user"
rootpw --plaintext admin123
user --name=oskar --password=devops --groups=wheel

# Ustawienia strefy czasowej i klawiatury
timezone Europe/Warsaw
keyboard --vckeymap=pl --xlayouts='pl'
lang pl_PL.UTF-8

# Zapewnia automatyczne ponowne uruchomienie maszyny na końcu instalacji
reboot

# Wybór pakietów do instalacji, w tym Dockera na potrzeby pipeline'u
%packages
@core
docker
curl
wget
%end

%post --log=/root/ks-post.log
exec < /dev/tty3 > /dev/tty3 2>&1
chvt 3

echo "=========================================="
echo "Rozpoczęto konfigurację post-install..."
echo "=========================================="

systemctl enable docker

cat << 'EOF' > /etc/systemd/system/uruchom-aplikacje.service
[Unit]
Description=Pobranie i uruchomienie zlib-tool w kontenerze Ubuntu
After=network-online.target docker.service
Requires=network-online.target docker.service

[Service]
Type=oneshot
ExecStartPre=/usr/bin/sleep 10

# 1. Pobranie artefaktu z Twojego serwera Pythona (zmień IP na poprawne!)
ExecStartPre=/usr/bin/wget -O /tmp/app.deb http://172.23.81.230:8080/job/laby%207/10/artifact/zlib-tool.deb

# 2. Uruchomienie kontenera Ubuntu, instalacja paczki i odpalenie zlib-tool (logika z Twojego Ansible)
ExecStart=/usr/bin/docker run -v /tmp/app.deb:/tmp/app.deb ubuntu:22.04 bash -c "apt-get update && apt-get install -y /tmp/app.deb && zlib-tool"

RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
EOF

systemctl enable uruchom-aplikacje.service

echo "Konfiguracja %post zakończona."
chvt 1
%end