text
url --mirrorlist=http://mirrors.fedoraproject.org/mirrorlist?repo=fedora-44&arch=x86_64
repo --name=update --mirrorlist=http://mirrors.fedoraproject.org/mirrorlist?repo=updates-released-f44&arch=x86_64

keyboard --vckeymap=pl --xlayouts='pl'
lang pl_PL.UTF-8
timezone Europe/Warsaw --utc

# Automatyczne pobranie IP przez DHCP i ustawienie wlasnego hostname
network --bootproto=dhcp --device=link --activate --hostname=fedora-devops

# Root
rootpw --iscrypted --allow-ssh ######################################

# Tworzenie zwyklego użytkownika z uprawnieniami administratora innego niz ser
user --name=arkbacz3 --password=############# --plaintext --groups=wheel

# Ignorowanie innych dysków, wymuszona zgoda na formatowanie i automatyczny podział
ignoredisk --only-use=sda
zerombr
clearpart --all --initlabel
autopart
bootloader --location=mbr --boot-drive=sda

# Wylaczenie ekranu konfiguracji po pierwszym restarcie
firstboot --disable

# Automatyczna akceptacja licencji i restart maszyny na koniec
eula --agreed
reboot

# Pakiety
%packages
@^server-product-environment
%end