# === glowna konfiguracja ===
text
lang pl_PL.UTF-8
keyboard pl
timezone Europe/Warsaw

# Źródło instalacji 
url --mirrorlist=http://mirrors.fedoraproject.org/mirrorlist?repo=fedora-44&arch=x86_64
repo --name=update --mirrorlist=http://mirrors.fedoraproject.org/mirrorlist?repo=updates-released-f44&arch=x86_64

# Formatowanie w kółko i automatyczne partycje
clearpart --all --initlabel
autopart

# Nazwa hosta i użytkownicy (inne niż domyślne)
network --bootproto=dhcp --hostname=fedora-devops-host
rootpw --plaintext haslo123
user --name=fedora --password=haslo123 --groups=wheel

# restart po stworzeniu użytkownika
reboot

# Wybór pakietów do instalacji
%packages
@core
docker
wget
%end

# === (%post) ===
%post
# %post wypisze nam wszystkie informacje na ekran
exec < /dev/tty3 > /dev/tty3 2>&1
chvt 3
echo "=== konfiguracja po instalacji danych ==="

# docker po reboocie
systemctl enable docker

# Rozwiązanie problemu: Docker nie działa w instalatorze.
# Tworzymy skrypt "First Boot", który wykona się przy pierwszym uruchomieniu
cat << 'EOF' > /usr/local/bin/deploy-neovim.sh
#!/bin/bash
sleep 15 # Czekamy na sieć i Dockera

# pobieramy artefakt z naszej maszyny ubuntu po adresie ip!
wget http://172.25.32.137:8000/neovim-final.deb -O /tmp/neovim-final.deb

# Tworzymy obraz Dockera
cat << 'DOCKER' > /tmp/Dockerfile
FROM ubuntu:24.04
ARG DEBIAN_FRONTEND=noninteractive
COPY neovim-final.deb /tmp/
RUN apt-get update && apt-get install -y /tmp/neovim-final.deb && rm -rf /var/lib/apt/lists/*
CMD ["nvim", "--headless", "-v"]
DOCKER

cd /tmp
docker build -t neovim-app .
# test czy dziala
docker run --rm neovim-app > /root/neovim-dziala.txt
EOF

chmod +x /usr/local/bin/deploy-neovim.sh

# Rejestrujemy skrypt jako jednorazową usługę startową
cat << 'EOF' > /etc/systemd/system/neovim-deploy.service
[Unit]
Description=Deploy Neovim Container on First Boot
After=network-online.target docker.service
Requires=docker.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/deploy-neovim.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
EOF

systemctl enable neovim-deploy.service
echo "=== koniec konfiguracji ==="
chvt 1
%end