#version=RHEL9
text

url --mirrorlist=http://mirrors.fedoraproject.org/mirrorlist?repo=fedora-44&arch=x86_64

lang en_US.UTF-8
keyboard --vckeymap=pl --xlayouts='pl'
timezone Europe/Warsaw --utc

network --bootproto=dhcp --device=link --activate --hostname=kickstartserver

rootpw --lock
user --name=master --groups=wheel --password=zaq1@WSX

clearpart --all --initlabel
autopart

%packages
@core
podman
curl
wget
git
%end

%post --log=/root/ks-post.log

cat > /usr/local/bin/start-nginx.sh << 'EOF'
#!/bin/bash

podman pull nginx:latest

podman rm -f nginx 2>/dev/null

podman run -d \
  --name nginx \
  -p 8080:80 \
  nginx:latest
EOF

chmod +x /usr/local/bin/start-nginx.sh

cat > /etc/systemd/system/nginx.service << 'EOF'
[Unit]
Description=Nginx Podman Container
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/bin/start-nginx.sh

[Install]
WantedBy=multi-user.target
EOF

systemctl daemon-reload
systemctl enable nginx.service

%end

reboot