# Ustawienia podstawowe
text
lang pl_PL.UTF-8
keyboard pl
timezone Europe/Warsaw

# Konfiguracja sieć / user
network --bootproto=dhcp --device=enp0s3 --onboot=on --ipv6=auto --activate --hostname=commander-server
rootpw --plaintext student
user --name=kickstart --groups=wheel --password=student --plaintext

# Usługi dodatkowe
services --enabled=sshd,docker

# Źródła
url --mirrorlist=http://mirrors.fedoraproject.org/mirrorlist?repo=fedora-44&arch=x86_64
repo --name=update --mirrorlist=http://mirrors.fedoraproject.org/mirrorlist?repo=updates-released-f44&arch=x86_64

# Oczyszczanie dysku
zerombr
clearpart --all --initlabel --drives=sda
autopart --type=lvm

# Automatyczny restart po zakończeniu instalacji
reboot

# Wybór pakietów do instalacji
%packages
@core
openssh-server
docker
wget
%end

# Sekcja %post
%post --log=/root/ks-post.log

# Przekierowanie wyjścia na 3 terminal
exec < /dev/tty3 > /dev/tty3 2>&1
chvt 3

echo "=== ROZPOCZECIE KONFIGURACJI APLIKACJI ==="

# Włączenie demona Docker, aby wystartował przy pierwszym uruchomieniu
systemctl enable docker

# Pobranie paczki z serwera HTTP
wget http://10.0.5.3:8000/commander-package.tgz -O /root/commander-package.tgz

# Konfiguracja SSH
sed -i 's/#PermitRootLogin prohibit-password/PermitRootLogin yes/' /etc/ssh/sshd_config

# Tworzenie usługi systemd
cat << 'EOF' > /etc/systemd/system/commander-app.service
[Unit]
Description=Uruchomienie kontenera Commander
Wants=network-online.target
After=network-online.target docker.service
Requires=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
# Pobranie i uruchomienie aplikacji 
ExecStart=/usr/bin/docker run -d --name commander-prod -v /root/commander-package.tgz:/app.tgz:z node:20.12.0-slim sleep 3600

[Install]
WantedBy=multi-user.target
EOF

# Włączenie usługi
systemctl enable commander-app.service

echo "=== ZAKONCZONO KONFIGURACJE ==="
sleep 5
chvt 1
%end